.chat{
  .chat-header{
    height: 50px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    border-bottom: 1px solid $white-gray;
  }
  .rooms{
    .chat-header{
      .title{
        font-weight: 600;
      }
    }
    .rooms-body{
      height: calc(var(--vh, 1vh)*100 - 115px);
      overflow: scroll;
      .room-item{
        border-bottom: 1px solid $white-gray;
        :hover{
          background-color: $light-gray;
        }
        .room-user{
          padding: 1rem;
          display: flex;
          .header{
            margin-right: 1rem;
            .icon{
              width: 4.5rem;
              height: 4.5rem;
            }
          }
          .body{
            .name{
              font-size: 1.3rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .chat-room{
    .chat-header{
      .title{
        width: 100%;
        display: flex;
        .name{
          font-weight: 600;
        }
        .image{
          margin-left: auto;
          .icon{
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
    }
    .chat-body{
      height: calc(var(--vh, 1vh)*100 - 235px);
      padding-bottom: 50px;
      overflow: scroll;
      .messages{
        padding: 2.5rem 1rem 0 1rem;
        .message{
          padding-bottom: 0.8rem;
          .message-body{
            display: flex;
            .message-user{
              margin-top: auto;
              .icon{
                width: 3rem;
                height: 3rem;
              }
            }
            .message-content{
              display: flex;
              width: 100%;
            }
            .message-bubble{
              max-width: 80%;
              display: inline-block;
              word-break: break-all;
              white-space: pre-wrap;
              background-color: $white-gray;
              border-radius: 20px;
              padding: 8px 16px 4px;
              margin: 0 4px 4px;
              border-bottom-left-radius: 0;
            }
          }
          .message-fotter{
            display: flex;
            .send-date{
              color: #999;
              margin-top: 0.1rem;
            }
          }
        }
      }
      .my-message{
        .message-body{
          .message-user{
            display: none;
          }
          .message-content{
            justify-content: flex-end;
            .message-bubble{
              color: #fff;
              background-color: #ff3654;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 0;
            }
          }
        }
        .message-fotter{
          .send-date{
            margin-left: auto;
          }
        }
      }
    }
    .chat-send{
      height: 120px;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $white-gray;
      position: relative;
      .message{
        background-color: #f6f6f6;
        height: 100%;
        width: 100%;
        border-style: none;
        outline: none;
        padding: 8px 12px;
      }
      .send-button{
        position: absolute;
        width: 50px;
        height: 50px;
        border: none;
        box-shadow: 0 2px 12px 0 rgba(44, 44, 44, 0.1);
        font-size: 20px;
        right: 5px;
        bottom: 5px;
        outline: .1rem solid transparent;
      }
    }
  }

}
