// 共通scss
a{
  color: #000000;
  text-decoration: none;
  :hover{
    text-decoration: none;
  }
}

.flex{
  display: flex;
}

body{
  margin: 0;
}

main{
  background-color: #f7fafc;
}


.font-bold{
  font-weight: 600;
}

// margin系
.mt-3{
  margin-top: 3rem;
}
.mt-1{
  margin-top: 1rem;
}
.my-1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// padding系
.pt-3{
  padding-top: 3rem;
}
.pt-1{
  padding-top: 1rem;
}


.el-rate{
  .el-rate__item{
    .el-rate__icon{
      margin: 0;
      font-size: 14px;
    }
  }
}
