// 共通scss

// 全体影響
a{
  color: #000000;
  text-decoration: none;
  :hover{
    text-decoration: none;
  }
}
body{
  margin: 0;
}
main{
  background-color: $light-gray;
}

// display
.flex{
  display: flex;
}
.grid{
  display: grid;
}

.container-sm{
  max-width: 1080px;
}

.container-lg{
  max-width: 1480px!important;
}

// font系
.font-bold{
  font-weight: 600;
}
.font-sm-title{
  font-size: 1.5rem;
}

// background color
.bg-light-gray{
  background-color: $light-gray;
}

// margin系
.mt-1{
  margin-top: 1rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-5{
  margin-top:5rem
}
.my-1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ml-1{
  margin-left: 1rem;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.mr-1{
  margin-right: 1rem;
}
.mr-3{
  margin-right: 3rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mt-auto{
  margin-top: auto;
}
// padding系
.pt-3{
  padding-top: 3rem;
}
.pt-1{
  padding-top: 1rem;
}
.p-3{
  padding: 3rem;
}

// その他
.el-rate{
  .el-rate__item{
    .el-rate__icon{
      margin: 0;
      font-size: 14px;
    }
  }
}
