// pageごとのcss

// header
.site-header{
  border-bottom: 1px solid #eee;
  .header-left{
    text-align: left;
    .header-left-links{
      @media (max-width: 896px){
        display: none;
      }
      margin-left: 3rem;
      div{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .site-image{
      @media (min-width: 480px){
        height: 50px;
        width:  80px;
      }
      @media (max-width: 480px){
        height: 30px;
        width:  80px;
      }
    }
  }
  .header-right{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    .after-auth{
      .icon{
        @media (max-width: 480px){
          font-size: 20px;
          margin-left: 3px;
          margin-right: 3px;
        }
        @media (min-width: 480px){
          font-size: 30px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .el-drawer__body{
    .drawer-header{
      border-bottom: 1px solid #eee;
      .user{
        height: 100%;
        .icon{
          margin-right: 0.3rem;
        }
        div{
          margin-top: auto;
          margin-bottom: auto;
        }
        .username{
          font-weight: 600;
        }
        .credit{
          font-size: 11px;
          color: #999;
        }
      }
    }
  }
}

// top
.top{
  .container {
    max-width: 1080px !important;
  }
  padding-bottom: 5rem;
  .top-image{
    margin-bottom: 3rem;
    .el-image{
      width: 100%;
      max-height: 45rem;
      @media (max-width: 896px){
        max-height: 250px;
      }
      @media (max-width: 480px){
        max-height: 100px;
      }
    }
  }
  .genre{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .genre-image{
      height: 7.5rem;
      width: 7.5rem;
      margin-right: 1.5rem;
    }
  }
  .cast-card{
    .card-header{
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
    }
    .card-main{
      margin: 1rem;
      .name{
        font-weight: 700;
        font-size: 1.5rem;
      }
      .credit{
        color: #FF3654;
        .value{
          font-weight: 900;
          font-size: 1.8rem;
          margin-right: 0.5rem;
        }
        .text{
          margin-top: auto;
          font-size: 1.2rem;
        }
      }
    }
  }
}

// cast detail
.cast-detail{
  .container {
    max-width: 1280px !important;
  }
}
